<div class="container">
    <div class="row" style="text-align: center;">
        <h4 style="margin-bottom: 30px;  margin-top: 30px; margin-left: 280px;">Seja bem vindo ao CadCli</h4>
        <h5 style="margin-top: 15px;">Aqui você pode acompanhar o cadastro dos seus clientes de forma fácil e intuitiva...</h5>
        <p style=" margin-top: 85px; "></p>
        <h5>Além de tudo, os clientes são apenas inativados e permanecem em sua base de dados</h5>

    </div>
    <div class="row " style="text-align: center; ">
        <div class="col-md-2 "></div>
        <div class="col-md-6 " style="margin-top: 20px; ">
            <h5>Acesse uma de nossas funcionalidades</h5>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6 ">
            <a href="/cadastro " class="btn btn-primary ">Cadastro de Clientes</a>

        </div>
        <div class="col-md-6 ">
            <a href="/lista " class="btn btn-primary ">Lista de Clientes</a>
        </div>
    </div>